h1{
    display: flex;
    justify-content: center;
}

.input_section{
    display: flex;
    justify-content: center;
}

.comment_input {
    background-color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    margin-top: 15px;
    padding: 8px 12px;
}

.input{
    width: 50%;
    height: 26px;
}

.btn {
    background: #2aabf1;
    border-color: #1824ff;
    color: #151414;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    padding: 4px 15px;
    margin-left: 16px;
}

.text_container{
    width: 40%;
    height: 26px;
    padding: 2px 2px;
}

.comment_container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-edit{
    background: #f3f2f2;
    border-color: #f3f2f2;
}

.btn-edit:hover {
    background: #e8a71a;
    border-color: #efa88c;
}

.btn-delete{
    background: #f3f2f2;
    border-color: #f3f2f2;
    margin-left: 8px;
}

.btn-delete:hover {
    background: #fc1f1f;
    border-color: #ff8080;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
